<div class="main-container">
    <img class="imgtrivia" src="assets/Trivia_logo.png" alt="">
    <h1>Ingresa tu nombre</h1>
    <div >
        <input [(ngModel)]="userName" class="inputname" type="text" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        <input [(ngModel)]="userPassword" class="inputname" type="password" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
        <button class="btnLogin" (click)="onUserNameCreate()">Ingresar</button>
    </div>
    
</div>

 